<header><h1>Cork City Book Fair</h1></header>

<article>
    <p>An international book fair organized by the Enterprise Ireland and Higher Education Ireland,
        it will beheld annually at the Pairc Ui Chaoimh and the Cork City Hall, selling and exhibiting books,
        printed matter,stationary, printing, compact discs and other multimedia publishing. Besides selling and 
        exhibiting newbooks and media products, there are reading and writing workshops, seminars, and autograph
        sessions for book lovers. This fair will become an annual major event in Ireland to attract international
        visitors.Through this event, the organizer will be striving to promote local reading culture. 
        Apart from extensively 
        inviting the public to the Fair to visit and buy books, it also spares no effort in organizing diversified 
        cultural activities during the Book Fair period with a view to enhance the contents and quality of the fair.</p>
    <app-map></app-map>
    <p>Quisquam voluptatum quo accusamus facilis, ab nisi enim quis nam nulla excepturi illo fugit maiores? Rem magni illo dolorum ea!
    Aut eveniet ut similique tempora perspiciatis quasi officiis, omnis, eaque magni dolores ad numquam et temporibus porro officia natus consectetur? Cumque optio unde accusantium impedit tempore alias ducimus veritatis laborum.
    Maxime consequuntur, eos reiciendis, suscipit possimus odio asperiores tempore repellat totam doloremque similique labore provident laudantium. Sint, voluptatum, molestiae repellendus animi dignissimos quasi maiores, quod quibusdam harum et minima natus!
    Ea, animi autem quo exercitationem vitae maxime cumque. Officia ab provident neque ipsam hic, optio fugit voluptate molestiae mollitia, est maiores aut, ea ullam perspiciatis! Ex tenetur expedita placeat et.</p>
    <button mat-button alt="purchas tickets" routerLink="../purchase-tickets">Purchase Tickets right now!</button>
</article>