<header><h1>Cork City Book Fair</h1></header>

<article>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos consectetur, corrupti dolorum provident omnis doloribus eligendi quis? Corporis omnis labore a dolore? Earum sint sunt nihil aliquam incidunt, eveniet doloremque?
    Sequi dignissimos sapiente repellendus voluptates, commodi itaque architecto odit repudiandae asperiores possimus minima ducimus assumenda. Explicabo ea recusandae neque eaque odit, optio natus voluptate vitae maxime repellat fugit enim repellendus.
    Quisquam nam rerum error atque provident ullam aliquam cum vero. </p>
    <p>Quisquam voluptatum quo accusamus facilis, ab nisi enim quis nam nulla excepturi illo fugit maiores? Rem magni illo dolorum ea!
    Aut eveniet ut similique tempora perspiciatis quasi officiis, omnis, eaque magni dolores ad numquam et temporibus porro officia natus consectetur? Cumque optio unde accusantium impedit tempore alias ducimus veritatis laborum.
    Maxime consequuntur, eos reiciendis, suscipit possimus odio asperiores tempore repellat totam doloremque similique labore provident laudantium. Sint, voluptatum, molestiae repellendus animi dignissimos quasi maiores, quod quibusdam harum et minima natus!
    Ea, animi autem quo exercitationem vitae maxime cumque. Officia ab provident neque ipsam hic, optio fugit voluptate molestiae mollitia, est maiores aut, ea ullam perspiciatis! Ex tenetur expedita placeat et.</p>
</article>