<main id='ticket-container'>
  <app-ticket *ngFor="let ticket of tickets"></app-ticket>
  <button mat-icon-button aria-label="new ticket" id="add-ticket" (click)="addAdultTicket()" >
    <mat-icon>add</mat-icon> 
  </button>
  <button mat-icon-button aria-label="new ticket" id="add-child-ticket" (click)="addChildTicket()" >
    <mat-icon>child_care</mat-icon> 
  </button>
  <button mat-icon-button aria-label="delete ticket" id="add-ticket" (click)="removeTicket()" >
    <mat-icon>clear</mat-icon> 
  </button>
</main>

<p>Total: €{{total}}</p>