

<main id='ticket-container'>
  <app-ticket *ngFor="let ticket of tickets"></app-ticket>

  <!-- ticket manipulation-->
  <button mat-icon-button aria-label="new ticket" id="add-ticket" (click)="addAdultTicket()" >
    <mat-icon>add</mat-icon> 
  </button>
  <button mat-icon-button aria-label="new ticket" id="add-child-ticket" (click)="addChildTicket()" >
    <mat-icon>child_care</mat-icon> 
  </button>
  <button mat-icon-button aria-label="delete ticket" id="remove-ticket" (click)="removeTicket()" >
    <mat-icon>delete</mat-icon> 
  </button>
</main>

<article id="purchase-block">
  <p>Total: €{{total}}</p>
  <mat-checkbox type="checkbox">I agree to the terms of sale
  </mat-checkbox> <br>
  <button mat-button *ngIf="!showRules" (click)="toggleRuleBox()">show rules</button>
  <button mat-icon-button aria-label="toggle rules modal" *ngIf="showRules" id="hide-rule-box" (click)="toggleRuleBox()" >
    <mat-icon>clear</mat-icon> 
  </button>
  <app-rules *ngIf='showRules'></app-rules>
  <p>Tickets also available at the morning of the event for €3</p>
  
  <button mat-button id="purchase-button" (click)="purchase()">Purchase Tickets</button>
</article>

