#ticket-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#purchase-block, main{ 
  background-color: rgba(53, 29, 29, 0.6);
  padding: 8px;
}

#hide-rule-box{
  position: fixed;
  background: white;
  background-color: rgba(247, 242, 242, 0.5);
  color:rgba(6, 8, 99, 0.6);
  display: block;
  margin-top: -20px;
}