#the-grid{
    display: flex;
    flex-direction: column;
}

#contribution-panel{
    padding: 25px;
}

section, #contribution-panel{
    border-radius: 15px;
    padding: 8px;
    margin: 8px;

    color:black;

    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}