<article id='the-grid'>
    <section><h2>Cambridge University Press</h2><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil laudantium, repellendus aspernatur tenetur exercitationem ipsum nisi?</p></section>
    <section><h2>Association Of Taipei Publishers</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sequi perferendis aspernatur tempora earum!</p></section>
    <section><h2>Argentina Consulate General</h2><p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p></section>
    <section><h2>Hong Kong University Press</h2><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ab quisquam incidunt sapiente natus temporibus.</p></section>
</article>

<article id="contribution-panel">
    <h2>Contribute?</h2>
    <p>If you'd like to contribute to the imaginary exhibition, the fee is eleven doughnuts and a blue flower picked from the peak of the Himalayan mountains. Stripe payments are accepted</p>
</article>