*{font-family: 'Pacifico', cursive;}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 28vw;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

mat-sidenav-content{
  display: grid;
  grid-template-areas: "toolbar toolbar"
                        "content ads"
                        "footer footer";
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 100px 
                      1fr
                      30px;
  grid-gap: 20px;
}

#title{
  text-decoration: none;
  color: #fff;
}

#ad-space{
  width:200px;
  height: 100%;
  background-color: #ccc;
  color: #eee;
  text-align: center;
  padding-top:50%;
  text-shadow: 2px 1px #141E30;
}
